
<div class="mobile__menu-sect">
    <div class="mobile__menu">
        <a class="mobile__menu-btn" href="#">
            <img class="mobile__menu-btn-img" src="/images/mobile/menu-burger-img.svg" alt="">
        </a>
        <div class="mobile__menu-social">
            <a class="mobile__menu-link" href="#">
                <img src="/images/mobile/tel.svg" alt="">
            </a>
            <a class="mobile__menu-link" href="#">
                <img src="/images/mobile/mail.svg" alt="">
            </a>
            <a class="mobile__menu-link" href="#">
                <img src="/images/mobile/geo.svg" alt="">
            </a>
        </div>
    </div>
</div>

<section class="up">
    <div class="container-top">
        <h4 class="up__title">На этой странице вы найдете все возможные способы помочь приюту. </h4>
        <div class="up__box">
            <a class="up__box-link" href="#">
                финансовая помощь
            </a>
            <a class="up__box-link" href="#">
                вещи в приют
            </a>
            <a class="up__box-link" href="#">
                Лекарства
            </a>
            <a class="up__box-link" href="#">
                передержка животных
            </a>
            <a class="up__box-link" href="#">
                работа в приюте
            </a>
            <a class="up__box-link" href="#">
                реклама, PR
            </a>
            <a class="up__box-link" href="#">
                адресная помощь
            </a>
        </div>
    </div>
</section>

<section class="finance">
    <div class="container-1310">
        <div class="finance__wrapper">
            <div class="tags__wrapper">
                <h4 class="finance__title title">
                    Финансовая помощь
                </h4>
                <div class="tags">
                    <p class="tags__tag tags__tag-bank">Перевод на карту</p>
                    <p class="tags__tag">Почтовый перевод</p>
                    <p class="tags__tag">Денежный перевод из других стран</p>
                </div>
                <p class="tags__text">
                    Если возникнут вопросы обращайтесь пожалуйста по телефонам указаным на шапке сайте или пишите на почту
                    daylapu1@gmail.com
                </p>
            </div>
            <img class="finance__img" src="/images/finance/animation1.png" alt="">
        </div>
    </div>
</section>


<section class="finance__card">
    <div class="container-1310">
        <div class="finance__card-wrapper">
            <h4 class="finance__card-title">
                1. Перевод на карту
                <img src="/images/finance/bank-title.png" alt="">
            </h4>
            <div class="finance__card-inner">
                <div class="finance__card-item">
                    <img class="finance__card-item-img" src="/images/finance/bank-logo.png" alt="">
                    <p class="finance__card-item-num">
                        5168 7422 1733 5177
                    </p>
                    <a class="finance__card-item-link" href="#">
                        Сделать перевод
                    </a>
                </div>
                <div class="finance__texts">
                    <h4 class="finance__texts-title">
                        Громадська організація по захисту прав тварин «Дай лапу, друже»
                    </h4>
                    <div class="finance__texts-inner">
                        <div class="finance__texts-item">
                            <p class="finance__inner-text">
                                <span>IBAN №</span>UA463133990000026000060318478
                            </p>
                            <p class="finance__inner-text">
                                <span>Код банку</span>313399
                            </p>
                            <p class="finance__inner-text">
                                Запорізьке РУ КБ “Приватбанк”
                            </p>
                        </div>
                        <div class="finance__texts-item">
                            <p class="finance__inner-text">
                                <span>Назначение платежа</span>благодійний внесок
                            </p>
                            <p class="finance__inner-text">
                                <span>Код за ЕДРПОУ</span>36878940
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="finance__card-title">
                2. Почтовый перевод
            </h4>
            <div class="finance__post">
                <div class="finance__post-item">
                    <img class="finance__post-img" src="/images/finance/np.png" alt="">
                    <p class="finance__post-text">
                        Дидур Ирина Ивановна
                    </p>
                    <p class="finance__post-text">096-39-35-377</p>
                    <p class="finance__post-text">
                        Запорожье, отделение 22 (до 33 кг)
                    </p>
                </div>
                <div class="finance__post-item">
                    <img class="finance__post-img" class="finance__post-img" src="/images/finance/yp.png" alt="">
                    <p class="finance__post-text">
                        Почтовый перевод - Украина, Запорожье, почтовое отделение
                    </p>
                    <p class="finance__post-text">69071</p>
                    <p class="finance__post-text">Дидур Ирина </p>
                </div>
            </div>
            <h4 class="finance__card-title">
                3. Перевод денежных средств из других стран
            </h4>
            <div class="finance__pays">
                <div class="finance__pays-item">
                    <h4 class="finance__pays-title">
                        Перевод из России через
                        <img src="/images/finance/paysend.png" alt="">
                    </h4>
                    <p class="finance__pays-num">
                        5168 7555 3066 0881
                    </p>
                    <p class="finance__pays-text">
                        Ткаченко Антонина Федоровна, Antonina Tkachenko, срок действия карты 09/20
                    </p>
                </div>
                <div class="finance__pays-item">
                    <div class="finance__pays-images">
                        <img class="finance__pays-img" src="/images/finance/moneygr.png" alt="">
                        <img class="finance__pays-img" src="/images/finance/inteliex.png" alt="">
                        <img class="finance__pays-img" src="/images/finance/western.png" alt="">
                    </div>
                    <p class="finance__pays-text">
                        Ukraine, Zaporozhye,
                    </p>
                    <p class="finance__pays-text">
                        Didur Irina
                    </p>
                    <p class="finance__pays-text">
                        380963935377
                    </p>
                </div>
                <div class="finance__pays-item">
                    <div class="finance__pays-images">
                        <img src="/images/finance/paypal.png" alt="">
                    </div>
                    <p class="finance__pays-num">
                        iryna63@gmail.com
                    </p>
                    <p class="finance__pays-text">
                        назначение перевода - перевод денежных средств (не покупка товара) пишите о переводе Ирине Науменко.
                    </p>
                </div>
                <div class="finance__pays-item">
                    <div class="finance__pays-images">
                        <img src="/images/finance/qiwi.png" alt="">
                    </div>
                    <p class="finance__pays-num">
                        qiwi.com/p/380963935377
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="finance">
    <div class="container-1310">
        <div class="finance__wrapper">
            <div class="tags__wrapper">
                <h4 class="finance__title title">
                    Вещи в приют
                </h4>
                <div class="tags">
                    <p class="tags__tag">Еда</p>
                    <p class="tags__tag">Средства для уборки и дезинфикации</p>
                    <p class="tags__tag">Зоотовары</p>
                    <p class="tags__tag">Вещи</p>
                    <p class="tags__tag">Стройматериалы и инструменты</p>
                </div>
                <p class="tags__text">
                    Если возникнут вопросы обращайтесь пожалуйста по телефонам указаным на шапке сайте или пишите на почту
                    daylapu1@gmail.com
                </p>
            </div>
            <img class="finance__img" src="/images/finance/animation2.png" alt="">
        </div>
    </div>
</section>


<section class="points">
    <div class="container-1310">
        <div class="points__wrapper">
            <h4 class="points__item-title">1. Еда</h4>
            <div class="points__item">
                <ul class="points__list">
                    <li class="points__list-item">
                        крупы (пшеничная, ячневая, гречневая, рис, макаронные изделия)
                    </li>
                    <li class="points__list-item">
                        мясопродукты (обрезь, фарш, кости, и т.д.)
                    </li>
                    <li class="points__list-item">
                        консервы
                    </li>
                    <li class="points__list-item">
                        колбасные изделия (колбаса для животных, сосиски)
                    </li>
                </ul>
                <ul class="points__list">
                    <li class="points__list-item">
                        хлеб и сухари
                    </li>
                    <li class="points__list-item">
                        можете наварить вкусной домашней каши
                    </li>
                    <li class="points__list-item">
                        молочные продукты (молоко, кефир, творог)
                    </li>
                </ul>
            </div>
            <h4 class="points__item-title">2. Средства для уборки и дезинфекции</h4>
            <div class="points__item">
                <ul class="points__list">
                    <li class="points__list-item">
                        гель для стирки
                    </li>
                    <li class="points__list-item">
                        моющее для посуды
                    </li>
                    <li class="points__list-item">
                        средство для мытья пола
                    </li>
                    <li class="points__list-item">
                        белизна
                    </li>
                </ul>
                <ul class="points__list">
                    <li class="points__list-item">
                        мочалки, тряпки, щетки, скребки, губки
                    </li>
                    <li class="points__list-item">
                        средство для мытья пола
                    </li>
                    <li class="points__list-item">
                        швабры, веники, совки
                    </li>
                </ul>
            </div>
            <h4 class="points__item-title">3. Зоотовары</h4>
            <div class="points__item">
                <ul class="points__list">
                    <li class="points__list-item">
                        поводки, ошейники (материал брезент, длина 2 метра)
                    </li>
                    <li class="points__list-item">
                        миски большие эмалированные
                    </li>
                    <li class="points__list-item">
                        сухой корм (для мелких и крупных собак)
                    </li>
                    <li class="points__list-item">
                        консервы для ослабленных животных
                    </li>
                </ul>
                <ul class="points__list">
                    <li class="points__list-item">
                        витамины, минеральные комплекты
                    </li>
                    <li class="points__list-item">
                        "погрызухи" или что угодно, что может занять собак на стационаре
                    </li>
                    <li class="points__list-item">
                        защитные попоны и воротники
                    </li>
                    <li class="points__list-item">
                        одежда для животных
                    </li>
                </ul>
            </div>
            <h4 class="points__item-title">4. Стройматериалы и инструменты</h4>
            <div class="points__item">
                <ul class="points__list">
                    <li class="points__list-item">
                        ведра
                    </li>
                    <li class="points__list-item">
                        лопаты, тяпки, грабли, ледорубы, топоры
                    </li>
                    <li class="points__list-item">
                        перчатки х/б, и прорезиненые для уборки
                    </li>
                    <li class="points__list-item">
                        ножи (острые), ножницы обычные и маникюрные
                    </li>
                </ul>
                <ul class="points__list">
                    <li class="points__list-item">
                        доски, линолиум, ненужные стройматериалы
                    </li>
                </ul>
            </div>
            <h4 class="points__item-title">5. Вещи</h4>
            <div class="points__item">
                <ul class="points__list">
                    <li class="points__list-item">
                        любые подстилки (теплые одеяла, куртки, свитера, покрывала, старое постельное белье и т.д)
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>



<section class="where">
    <div class="container">
        <div class="where__wrapper">
            <h4 class="where__title">
                Куда привозить вещи?
            </h4>
            <div class="where__box">
                <p class="where__text">
                    Запорожье, ул. 40 лет Советской Украины 38-а. Между остановками пр. Металлургов и пл. Поляка внутри
                    гаражного кооператива, за памятником «Голодомор».
                </p>
                <a class="where__link" href="#">На карте</a>
            </div>
        </div>
    </div>
</section>



<section class="finance">
    <div class="container-1310">
        <div class="finance__wrapper">
            <div class="tags__wrapper">
                <h4 class="finance__title title">Лекарства</h4>
                <div class="tags">
                    <p class="tags__tag">Аптека</p>
                    <p class="tags__tag">Ветеринарная аптека</p>
                </div>
                <p class="tags__text">
                    Если возникнут вопросы обращайтесь пожалуйста по телефонам указаным на шапке сайте или пишите на почту
                    daylapu1@gmail.com
                </p>
            </div>
        </div>
    </div>
</section>


<section class="points">
    <div class="container-1310">
        <div class="points__wrapper">
            <h4 class="points__item-title">1. Аптека (обыкновенная)</h4>
            <div class="points__item">
                <ul class="points__list">
                    <li class="points__list-item">
                        Глюкоза, раствор рингера
                    </li>
                    <li class="points__list-item">
                        Цефтриаксон
                    </li>
                    <li class="points__list-item">
                        Перчатки стерильные и смотровые
                    </li>
                    <li class="points__list-item">
                        Новокаин
                    </li>
                    <li class="points__list-item">
                        Имунофан, Циклоферон
                    </li>
                    <li class="points__list-item">
                        Левомеколь мазь
                    </li>
                    <li class="points__list-item">
                        Бетадин
                    </li>
                </ul>
                <ul class="points__list">
                    <li class="points__list-item">
                        Шприцы (2, 5, 10, 20 мл)
                    </li>
                    <li class="points__list-item">
                        Нейровитан таблетки
                    </li>
                    <li class="points__list-item">
                        Аугментин таблетки (обе дозировки)
                    </li>
                    <li class="points__list-item">
                        Траумель инъекции
                    </li>
                    <li class="points__list-item">
                        Капли глазные
                    </li>
                </ul>
            </div>
            <h4 class="points__item-title">2. Ветеринарная аптека</h4>
            <div class="points__item">
                <ul class="points__list">
                    <li class="points__list-item">
                        Препараты от гельминтов и эктопаразитов
                    </li>
                    <li class="points__list-item">
                        Препараты кальция
                    </li>
                    <li class="points__list-item">
                        Гамавит
                    </li>
                    <li class="points__list-item">
                        Бравекто
                    </li>
                    <li class="points__list-item">
                        Катазал
                    </li>
                    <li class="points__list-item">
                        Ошейники от блох
                    </li>
                </ul>
                <ul class="points__list">
                    <li class="points__list-item">
                        Фоспринил
                    </li>
                    <li class="points__list-item">
                        Чеми спрей
                    </li>
                    <li class="points__list-item">
                        Адвокат капли
                    </li>
                    <li class="points__list-item">
                        Поливак
                    </li>
                    <li class="points__list-item">
                        Дюфалайт
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>



<section class="finance finance__50">
    <div class="container-1310">
        <div class="finance__wrapper">
            <div class="tags__wrapper">
                <h4 class="finance__title title">Передержка животных</h4>
                <p class="tags__text">
                    Если возникнут вопросы обращайтесь пожалуйста по телефонам указаным на шапке сайте или пишите на почту
                    daylapu1@gmail.com
                </p>
            </div>
        </div>
    </div>
</section>



<section class="come">
    <div class="container-1310">
        <div class="come__wrapper">
            <div class="come__item">
                <h4 class="come__title">
                    1. Взять домашнее животное
                </h4>
                <p class="come__text">
                    Очень часто в приют обращаються люди, которые нашли потерявшегося домашнего питомца, для поиска хозяев этих животных мы размещаем обявления в интернете, на страницах нашего сайта и других сайтов, порталов о животных, печатные листовки в людных места. Все время пока мы ищем старых хозяев или новый дом этим животным требуется передержка в домашних условиях, так как в приюте условия содержания не подходят для квартирных собак, им у нас холодно и они пугаються других собак. Домашние, квартирные породистые животные более нежные, у них менее крепкий иммунитет.
                </p>
            </div>
            <div class="come__item">
                <h4 class="come__title">
                    2. Взять щенка
                </h4>
                <p class="come__text">
                    Такая же ситуация с маленькими щенками, которых или подбрасывают или просто просят принять в приют, так как им угрожает опасность или погибла мать. Для содержания крошек у нас тоже нет условий, щенкам нужен совсем другой режим кормления, более теплые условия, пристальное внимание. Мы крайне благодарны за вашу помощь в передержке малышей до их пристройства.
                </p>
            </div>
            <div class="come__item">
                <h4 class="come__title">
                    3. Взять животное после операции
                </h4>
                <p class="come__text">
                    Кроме того, передержка могла бы очень помочь, когда животное после стерилизации или другой операции и ему нужно какое-то время побыть в домашних улучшенных условиях, чтобы окрепнуть.
                </p>
            </div>
            <div class="come__box">
                <p class="come__box-text">
                    Если вы желаете участвовать в помощи приюту передержкой питомцев, свяжитесь с нами по нашим контактным телефонам.
                </p>
                <div class="come__box-inner">
                    <a class="come__box-link" href="tel:380963935377">380963935377</a>
                    <a class="come__box-link" href="tel:380507656310 ">380507656310</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mailing">
    <div class="container">
        <div class="mailing__wrapper">
            <h4 class="mailing__title">
                Хотите получать новостную рассылку о нашем приюте?
            </h4>
            <form class="mailing__form" action="#">
                <input class="mailing__input" type="text" placeholder="Имя">
                <input class="mailing__input" type="text" placeholder="Email">
                <button class="mailing__btn" type="submit">подписаться</button>
            </form>
        </div>
    </div>
</section>

<section class="finance finance__150">
    <div class="container-1310">
        <div class="finance__wrapper">
            <div class="tags__wrapper">
                <h4 class="finance__title title">
                    Работа в приюте
                </h4>
                <p class="tags__text">
                    Если возникнут вопросы обращайтесь пожалуйста по телефонам указаным на шапке сайте или пишите на почту daylapu1@gmail.com
                </p>
            </div>
        </div>
    </div>
</section>

<section class="holst">
    <div class="container-1310">
        <div class="holst__wrapper">
            <h4 class="come__title">Взять домашнее животное</h4>
            <p class="come__text">
                Очень часто в приют обращаються люди, которые нашли потерявшегося домашнего питомца, для поиска хозяев этих животных мы размещаем обявления в интернете, на страницах нашего сайта и других сайтов, порталов о животных, печатные листовки в людных места. Все время пока мы ищем старых хозяев или новый дом этим животным требуется передержка в домашних условиях, так как в приюте условия содержания не подходят для квартирных собак, им у нас холодно и они пугаються других собак. Домашние, квартирные породистые животные более нежные, у них менее крепкий иммунитет.
            </p>
        </div>
    </div>
</section>
