<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Дай лапу друг</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.min.css" />

    @RenderSection("Head", false)
</head>
<body>
    <header>
        <div class="d-md-none custom-nav">
            <div class="custom-nav_inner">
                <a href="javascript:void(0)" onclick="toggleMobileNavbar();">
                    <img src="~/images/landing/mobile-nav-expand.png" />
                </a>

                <div>
                    <a href="#" class="custom-nav_icon">
                        <img src="~/images/landing/custom-nav-phone.png" />
                    </a>
                    <a href="#" class="custom-nav_icon">
                        <img src="~/images/landing/custom-nav-mail.png" />
                    </a>
                    <a href="#" class="custom-nav_icon">
                        <img src="~/images/landing/custom-nav-location.png" />
                    </a>
                </div>
            </div>
        </div>
        <div class="d-none d-md-block">

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark mb-3">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="#" class="logo">
                    <img src="~/images/logo.svg" />
                </a>
                <div class="container">
                    <div class="nav-contacts flex-grow-1 d-flex">
                        <div>
                            <a href="tel:38 096-39-35-377">38 096-39-35-377</a>
                            <br />
                            <a href="tel:38 050-765-63-10">38 050-765-63-10</a>
                        </div>
                        <a href="mailto:daylapu1@gmail.com">daylapu1@gmail.com</a>
                        <div><img src="~/images/location.svg" />Запорожье</div>
                    </div>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a href="#" class="nav-link">Новости</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">О нас</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Питомцы</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Контакты</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Как помочь</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="#" class="btn btn-dark d-none d-md-block">Сделать пожертвование</a>
            </nav>
        </div>

        <div class="d-md-none mobile-navbar" id="mobile-navbar">
            <div class="menu-container">
                <a href="#">Новости</a>

                <a data-bs-toggle="collapse" href="#collapseAboutUs" role="button" aria-expanded="false" aria-controls="collapseAboutUs">
                    О Нас&nbsp;<img src="~/images/landing/Vector 136.png" />
                </a>

                <div class="collapse" id="collapseAboutUs">
                    <div>
                        <a href="#">Приют</a>
                        <a href="#">Деятельность</a>
                        <a href="#">Партнеры</a>
                        <a href="#">Команда</a>
                        <a href="#">Волонтерам</a>
                        <a href="#">История</a>
                        <a href="#">Отчетность</a>
                        <a href="#">Отзывы</a>
                        <a href="#">Баннеры</a>
                        <a href="#">Документация</a>
                    </div>
                </div>
                <a href="#">Питомцы</a>
                <a href="#">Контакты</a>
                <a href="#">Как помочь</a>
            </div>
        </div>
    </header>

    <div class="nav-offset"></div>
    @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WebApplication3 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script>
        document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
    </script>
    @RenderSection("Scripts", required: false)
    <script>
        function toggleMobileNavbar() {
            event.preventDefault();
            event.stopPropagation();

            $('.mobile-navbar').addClass('open');
        }

        window.addEventListener('click', function (e) {
            if (document.getElementById('mobile-navbar').contains(e.target)) {
                // Clicked in box
            } else {
                // Clicked outside the box

                if ($('.mobile-navbar').hasClass('open')) {
                    $('.mobile-navbar').removeClass('open');
                }
            }
        });
    </script>
</body>
</html>
