<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Дай лапу друг</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/main.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark mb-3">
            <a href="#" class="logo" >
                <img src="~/images/logo.svg" />
            </a>
            <div class="container">
                <div class="nav-contacts flex-grow-1 d-flex">
                    <div>
                        <a href="tel:38 096-39-35-377">38 096-39-35-377</a>
                        <br />
                        <a href="tel:38 050-765-63-10">38 050-765-63-10</a>
                    </div>
                    <a href="mailto:daylapu1@gmail.com">daylapu1@gmail.com</a>
                    <div>Запорожье</div>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Новости</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Питомцы</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Как помочь</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="#" class="btn btn-dark">Сделать пожертвование</a>
        </nav>
    </header>

    <div class="nav-offset">&nbsp;</div>
    @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WebApplication3 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script>
        document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
