
<div class="mobile__menu-sect">
    <div class="mobile__menu">
        <a class="mobile__menu-btn" href="#">
            <img class="mobile__menu-btn-img" src="/images/mobile/menu-burger-img.svg" alt="">
        </a>
        <div class="mobile__menu-social">
            <a class="mobile__menu-link" href="#">
                <img src="/images/mobile/tel.svg" alt="">
            </a>
            <a class="mobile__menu-link" href="#">
                <img src="/images/mobile/mail.svg" alt="">
            </a>
            <a class="mobile__menu-link" href="#">
                <img src="/images/mobile/geo.svg" alt="">
            </a>
        </div>
    </div>
</div>
<section class="all__top">
    <div class="container-footer">
        <h4 class="all__top-title">
            Вы можете адресно помочь любому питомцу, найти своего дружочка или помочь нам с опекунством
        </h4>
        <div class="all__top-list">
            <div class="all__top-item">
                <p class="all__top-text all__top-text-color">Коты<span>43</span></p>
            </div>
            <div class="all__top-item">
                <p class="all__top-text all__top-text-color">Собаки<span>257</span></p>
            </div>
            <div class="all__top-item">
                <p class="all__top-text all__top-text-color">Зверьки<span>1</span></p>
            </div>
            <div class="all__top-item all__top-item--1">
                <p class="all__top-text all__top-category all__top-category--1">Размер</p>
                <nav class="all__top-submenu all__top-submenu--1">
                    <ul class="all__top-submenu-list">
                        <li class="all__top-submenu-item">
                            <a class="all__top-submenu-link" href="#">Крупные</a>
                        </li>
                        <li class="all__top-submenu-item">
                            <a class="all__top-submenu-link" href="#">Большие</a>
                        </li>
                        <li class="all__top-submenu-item">
                            <a class="all__top-submenu-link" href="#">Средние</a>
                        </li>
                        <li class="all__top-submenu-item">
                            <a class="all__top-submenu-link" href="#">Маленькие</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="all__top-item all__top-item--2">
                <p class="all__top-text all__top-category all__top-category--2">Возраст</p>
                <nav class="all__top-submenu all__top-submenu--2">
                    <ul class="all__top-submenu-list">
                        <li class="all__top-submenu-item">
                            <a class="all__top-submenu-link" href="#">до 1 года</a>
                        </li>
                        <li class="all__top-submenu-item">
                            <a class="all__top-submenu-link" href="#">1-2 года</a>
                        </li>
                        <li class="all__top-submenu-item">
                            <a class="all__top-submenu-link" href="#">2-5 лет</a>
                        </li>
                        <li class="all__top-submenu-item">
                            <a class="all__top-submenu-link" href="#">5-10 лет</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="all__top-item all__top-item--3">
                <p class="all__top-text all__top-category all__top-category--3">Категории</p>
                <nav class="all__top-submenu all__top-submenu--3">
                    <ul class="all__top-submenu-list">
                        <li class="all__top-submenu-item">
                            <a class="top-slider__link top-slider__link--green" href="#">#Ищем дом</a>
                        </li>
                        <li class="all__top-submenu-item">
                            <a class="top-slider__link top-slider__link--red" href="#">#Нужна помощь</a>
                        </li>
                        <li class="all__top-submenu-item">
                            <a class="top-slider__link top-slider__link--grey" href="#">#Нужна помощь</a>
                        </li>
                        <li class="all__top-submenu-item">
                            <a class="top-slider__link top-slider__link--violet" href="#">#Нужна помощь</a>
                        </li>
                        <li class="all__top-submenu-item">
                            <a class="top-slider__link top-slider__link--blue" href="#">#Нужна помощь</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="all__content">
    <div class="container">
        <div class="all__content-wrapper">
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/1.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Шелли
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    Присмотритесь получше. А может это именно Ваша собака,а Вы именно ее Хозяин? Тогда чего же Вы ждете??
                    Набирайте номер и ваша встреча будет так близко!
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">Стер</p>
                    <p class="top-slider__tag">8 мес.</p>
                    <p class="top-slider__tag">5 кг</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/2.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Пыжик
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    В очень тяжелом состоянии, передняя лапа поломана, задняя разорвана и вся промежность , оторван нос...
                    Большая площадь поражения, 12.03 проведена операция по остеосинтезу
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">Стер</p>
                    <p class="top-slider__tag">8 мес.</p>
                    <p class="top-slider__tag">5 кг</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/3.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Жози и Мушка
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    Жози и Мушка, две малышки …
                    Нам срочно нужно найти им дом. Они уже привиты комплексной вакциной, обработаны от паразитов,
                    стерилизованы и привыкают ходить на поводке …
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">Стер</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/4.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Котофей
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    Молодой, стерилизован, очень ласковый, культурный. Окрас ... Вот как вам сказать, смотришь на него и понимаешь, что природа создаёт совершенные творения.
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">3 года</p>
                    <p class="top-slider__tag">2 кг</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/5.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Лада
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    Лада любит прогулки, любит общение, мы ищем ей дом, где хозяин хорошо знает все особенности этой породы, мы думаем что это бульмастиф .
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">Стер</p>
                    <p class="top-slider__tag">4 мес.</p>
                    <p class="top-slider__tag">5 кг</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/4.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Котофей
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    Молодой, стерилизован, очень ласковый, культурный. Окрас ... Вот как вам сказать, смотришь на него и понимаешь, что природа создаёт совершенные творения.
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">3 года</p>
                    <p class="top-slider__tag">2 кг</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/3.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Жози и Мушка
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    Жози и Мушка, две малышки …
                    Нам срочно нужно найти им дом. Они уже привиты комплексной вакциной, обработаны от паразитов,
                    стерилизованы и привыкают ходить на поводке …
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">Стер</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/1.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Шелли
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    Присмотритесь получше. А может это именно Ваша собака,а Вы именно ее Хозяин? Тогда чего же Вы ждете??
                    Набирайте номер и ваша встреча будет так близко!
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">Стер</p>
                    <p class="top-slider__tag">8 мес.</p>
                    <p class="top-slider__tag">5 кг</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/2.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Пыжик
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    В очень тяжелом состоянии, передняя лапа поломана, задняя разорвана и вся промежность , оторван нос...
                    Большая площадь поражения, 12.03 проведена операция по остеосинтезу
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">Стер</p>
                    <p class="top-slider__tag">8 мес.</p>
                    <p class="top-slider__tag">5 кг</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/5.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Лада
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    Лада любит прогулки, любит общение, мы ищем ей дом, где хозяин хорошо знает все особенности этой породы, мы думаем что это бульмастиф .
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">Стер</p>
                    <p class="top-slider__tag">4 мес.</p>
                    <p class="top-slider__tag">5 кг</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/1.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Шелли
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    Присмотритесь получше. А может это именно Ваша собака,а Вы именно ее Хозяин? Тогда чего же Вы ждете??
                    Набирайте номер и ваша встреча будет так близко!
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">Стер</p>
                    <p class="top-slider__tag">8 мес.</p>
                    <p class="top-slider__tag">5 кг</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/2.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Пыжик
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    В очень тяжелом состоянии, передняя лапа поломана, задняя разорвана и вся промежность , оторван нос...
                    Большая площадь поражения, 12.03 проведена операция по остеосинтезу
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">Стер</p>
                    <p class="top-slider__tag">8 мес.</p>
                    <p class="top-slider__tag">5 кг</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/3.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Жози и Мушка
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    Жози и Мушка, две малышки …
                    Нам срочно нужно найти им дом. Они уже привиты комплексной вакциной, обработаны от паразитов,
                    стерилизованы и привыкают ходить на поводке …
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">Стер</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/4.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Котофей
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    Молодой, стерилизован, очень ласковый, культурный. Окрас ... Вот как вам сказать, смотришь на него и понимаешь, что природа создаёт совершенные творения.
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">3 года</p>
                    <p class="top-slider__tag">2 кг</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/5.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Лада
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    Лада любит прогулки, любит общение, мы ищем ей дом, где хозяин хорошо знает все особенности этой породы, мы думаем что это бульмастиф .
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">Стер</p>
                    <p class="top-slider__tag">4 мес.</p>
                    <p class="top-slider__tag">5 кг</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/4.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Котофей
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    Молодой, стерилизован, очень ласковый, культурный. Окрас ... Вот как вам сказать, смотришь на него и понимаешь, что природа создаёт совершенные творения.
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">3 года</p>
                    <p class="top-slider__tag">2 кг</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/3.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Жози и Мушка
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    Жози и Мушка, две малышки …
                    Нам срочно нужно найти им дом. Они уже привиты комплексной вакциной, обработаны от паразитов,
                    стерилизованы и привыкают ходить на поводке …
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">Стер</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/1.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Шелли
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    Присмотритесь получше. А может это именно Ваша собака,а Вы именно ее Хозяин? Тогда чего же Вы ждете??
                    Набирайте номер и ваша встреча будет так близко!
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">Стер</p>
                    <p class="top-slider__tag">8 мес.</p>
                    <p class="top-slider__tag">5 кг</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/2.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Пыжик
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    В очень тяжелом состоянии, передняя лапа поломана, задняя разорвана и вся промежность , оторван нос...
                    Большая площадь поражения, 12.03 проведена операция по остеосинтезу
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">Стер</p>
                    <p class="top-slider__tag">8 мес.</p>
                    <p class="top-slider__tag">5 кг</p>
                </div>
            </div>
            <div class="all__content-item">
                <a href="#">
                    <img class="all__content-img" src="/images/all/5.jpg" alt="">
                </a>
                <div class="all__content-box">
                    <h4 class="all__content-title">
                        Лада
                    </h4>
                    <a class="top-slider__link top-slider__link--green" href="#">
                        #Ищем дом
                    </a>
                </div>
                <p class="all__content-text">
                    Лада любит прогулки, любит общение, мы ищем ей дом, где хозяин хорошо знает все особенности этой породы, мы думаем что это бульмастиф .
                </p>
                <div class="top-slider__tags">
                    <p class="top-slider__tag">Привит</p>
                    <p class="top-slider__tag">Стер</p>
                    <p class="top-slider__tag">4 мес.</p>
                    <p class="top-slider__tag">5 кг</p>
                </div>
            </div>
        </div>
        <a class="top-slider__btn" href="#">Все животные</a>
    </div>
</section>

<section class="footer__img-section">
    <div class="container-min">
        <img class="footer__img" src="/images/footer/bg.jpg" alt="">
    </div>
</section>
