
%int-300{
  font-family: Inter;
  font-weight: 300;
}
%int-400{
  font-family: Inter;
  font-weight: 400;
}
%int-500{
  font-family: Inter;
  font-weight: 500;
}
%int-600{
  font-family: Inter;
  font-weight: 600;
}
%int-700{
  font-family: Inter;
  font-weight: 700;
}
%int-800{
  font-family: Inter;
  font-weight: 800;
}
%ral-400{
  font-family: Raleway;
  font-weight: 400;
}
%ral-600{
  font-family: Raleway;
  font-weight: 600;
}
%ral-700{
  font-family: Raleway;
  font-weight: 700;
}
%mon-400{
  font-family: Montserrat;
  font-weight: 400;
}
%mon-500{
  font-family: Montserrat;
  font-weight: 500;
}
%mon-700{
  font-family: Montserrat;
  font-weight: 700;
}