@model List<Article>

@*<section class="useful">
        <div class="mobile__menu-sect">
            <div class="mobile__menu">
                <a class="mobile__menu-btn" href="#">
                    <img class="mobile__menu-btn-img" src="/images/mobile/menu-burger-img.svg" alt="">
                </a>
                <div class="mobile__menu-social">
                    <a class="mobile__menu-link" href="#">
                        <img src="/images/mobile/tel.svg" alt="">
                    </a>
                    <a class="mobile__menu-link" href="#">
                        <img src="/images/mobile/mail.svg" alt="">
                    </a>
                    <a class="mobile__menu-link" href="#">
                        <img src="/images/mobile/geo.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="useful__wrapper">
                <h4 class="useful__title">Полезное</h4>
                <div class="useful__inner">
                    <div class="useful__item">
                        <img class="useful__img" src="/images/useful/grey-box.jpg" alt="">
                        <p class="useful__text">
                            Заголовок новой статьи аам аымвымы вмывмы вммв
                        </p>
                    </div>
                    <div class="useful__item">
                        <img class="useful__img" src="/images/useful/grey-box.jpg" alt="">
                        <p class="useful__text">
                            Заголовок новой статьи аам аымвымы вмывмы вммв
                        </p>
                    </div>
                    <div class="useful__item">
                        <img class="useful__img" src="/images/useful/grey-box.jpg" alt="">
                        <p class="useful__text">
                            Заголовок новой статьи аам аымвымы вмывмы вммв
                        </p>
                    </div>
                    <div class="useful__item">
                        <img class="useful__img" src="/images/useful/grey-box.jpg" alt="">
                        <p class="useful__text">
                            Заголовок новой статьи аам аымвымы вмывмы вммв
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

<section class="cell">
    <div class="container-header">
        <div class="cell__wrapper">
            <div class="cell__item">
                <p class="cell__data">12.04.2021</p>
                <div class="cell__images">
                    <img src="/images/useful/1.jpg" alt="">
                    <div class="cell__imgs">
                        <img src="/images/useful/grey-box-222.jpg" alt="">
                        <img src="/images/useful/grey-box-222.jpg" alt="">
                        <img src="/images/useful/grey-box-222.jpg" alt="">
                    </div>
                </div>
                <div class="cell__text-inner">
                    <h4 class="cell__title">
                        Крайне тяжёлая ситуация по еде щенков, ее просто нет....в приют заехало семь
                        щенков.
                    </h4>
                    <p class="cell__text">
                        Нужен корм для щенков (щенячка) или производитель клуб 4 лапы или Йозера.
                        Нужны консервы для собак , большие банки , любых производителей.
                        Нужна гречка и фарш для приготовления каши...
                    </p>
                    <div class="cell__box">
                        <p class="cell__box-text">
                            Нужен корм для щенков (щенячка) или производитель клуб 4 лапы или Йозера.
                            Нужны консервы для собак, большие банки, любых производителей.
                            Нужна гречка и фарш для приготовления каши
                            Нужен творог.
                            Дети сейчас в активном росте , им от 4-5 месяцев .
                            Едят очень хорошо , щенки крупные. Они заехали в новый вольер с платной передержки , где прошли
                            полную
                            вакцинацию и карантин.
                            Мы не заводили и не брали этих щенков , нам их одбросили « добрые люди», вот теперь несём
                            ответственность по полной программе , трое уже нашли дом, остальным нужна фотосессия и палатная
                            реклама на олх.
                            Помогите пожалуйста деткам, столько уже вложено в них сил и любви, так хочется чтоб все все все они
                            написали на наших страничках свои счастливые истории, очень нужны ещё три ошейника для щенков
                            мальчиков и три для щенков девочек , чтоб по цвету отличались .
                            Для закупки еды надо срочно 3000 гр.
                        </p>
                        <p class="cell__box-text">
                            Люди огромная просьба , окажите посильную помощь , не игнорируйте КРИК ОТЧАЯНЬЯ !!!
                        </p>
                        <p class="cell__box-text">
                            Посмотрите на фото какие красавцы , да они не породистые , но они в приюте получили все необходимое
                            и
                            я надеюсь будут получать дальше ибо как бы мы не утопали в долгах и проблемах мы не допустим ужасов
                            и
                            сцен обречённости приютовских животных .
                        </p>
                        <p class="cell__box-text">
                            Нет, не для того мы их спасли , поэтому стучусь во все двери ЩЕНКАМ НУЖНА ПОМОЩЬ !!!
                        </p>
                    </div>
                </div>
            </div>
            <div class="cell__item">
                <p class="cell__data">12.04.2021</p>
                <div class="cell__images">
                    <img src="/images/useful/1.jpg" alt="">
                    <div class="cell__imgs">
                        <img src="/images/useful/grey-box-222.jpg" alt="">
                        <img src="/images/useful/grey-box-222.jpg" alt="">
                        <img src="/images/useful/grey-box-222.jpg" alt="">
                    </div>
                </div>
                <div class="cell__text-inner">
                    <h4 class="cell__title">
                        Крайне тяжёлая ситуация по еде щенков, ее просто нет....в приют заехало семь
                        щенков.
                    </h4>
                    <p class="cell__text">
                        Нужен корм для щенков (щенячка) или производитель клуб 4 лапы или Йозера.
                        Нужны консервы для собак , большие банки , любых производителей.
                        Нужна гречка и фарш для приготовления каши...
                    </p>
                    <div class="cell__box">
                        <p class="cell__box-text">
                            Нужен корм для щенков (щенячка) или производитель клуб 4 лапы или Йозера.
                            Нужны консервы для собак, большие банки, любых производителей.
                            Нужна гречка и фарш для приготовления каши
                            Нужен творог.
                            Дети сейчас в активном росте , им от 4-5 месяцев .
                            Едят очень хорошо , щенки крупные. Они заехали в новый вольер с платной передержки , где прошли
                            полную
                            вакцинацию и карантин.
                            Мы не заводили и не брали этих щенков , нам их одбросили « добрые люди», вот теперь несём
                            ответственность по полной программе , трое уже нашли дом, остальным нужна фотосессия и палатная
                            реклама на олх.
                            Помогите пожалуйста деткам, столько уже вложено в них сил и любви, так хочется чтоб все все все они
                            написали на наших страничках свои счастливые истории, очень нужны ещё три ошейника для щенков
                            мальчиков и три для щенков девочек , чтоб по цвету отличались .
                            Для закупки еды надо срочно 3000 гр.
                        </p>
                        <p class="cell__box-text">
                            Люди огромная просьба , окажите посильную помощь , не игнорируйте КРИК ОТЧАЯНЬЯ !!!
                        </p>
                        <p class="cell__box-text">
                            Посмотрите на фото какие красавцы , да они не породистые , но они в приюте получили все необходимое
                            и
                            я надеюсь будут получать дальше ибо как бы мы не утопали в долгах и проблемах мы не допустим ужасов
                            и
                            сцен обречённости приютовских животных .
                        </p>
                        <p class="cell__box-text">
                            Нет, не для того мы их спасли , поэтому стучусь во все двери ЩЕНКАМ НУЖНА ПОМОЩЬ !!!
                        </p>
                    </div>
                </div>
            </div>
            <div class="cell__item">
                <p class="cell__data">12.04.2021</p>
                <div class="cell__images">
                    <img src="/images/useful/1.jpg" alt="">
                    <div class="cell__imgs">
                        <img src="/images/useful/grey-box-222.jpg" alt="">
                        <img src="/images/useful/grey-box-222.jpg" alt="">
                        <img src="/images/useful/grey-box-222.jpg" alt="">
                    </div>
                </div>
                <div class="cell__text-inner">
                    <h4 class="cell__title">
                        Крайне тяжёлая ситуация по еде щенков, ее просто нет....в приют заехало семь
                        щенков.
                    </h4>
                    <p class="cell__text">
                        Нужен корм для щенков (щенячка) или производитель клуб 4 лапы или Йозера.
                        Нужны консервы для собак , большие банки , любых производителей.
                        Нужна гречка и фарш для приготовления каши...
                    </p>
                    <div class="cell__box">
                        <p class="cell__box-text">
                            Нужен корм для щенков (щенячка) или производитель клуб 4 лапы или Йозера.
                            Нужны консервы для собак, большие банки, любых производителей.
                            Нужна гречка и фарш для приготовления каши
                            Нужен творог.
                            Дети сейчас в активном росте , им от 4-5 месяцев .
                            Едят очень хорошо , щенки крупные. Они заехали в новый вольер с платной передержки , где прошли
                            полную
                            вакцинацию и карантин.
                            Мы не заводили и не брали этих щенков , нам их одбросили « добрые люди», вот теперь несём
                            ответственность по полной программе , трое уже нашли дом, остальным нужна фотосессия и палатная
                            реклама на олх.
                            Помогите пожалуйста деткам, столько уже вложено в них сил и любви, так хочется чтоб все все все они
                            написали на наших страничках свои счастливые истории, очень нужны ещё три ошейника для щенков
                            мальчиков и три для щенков девочек , чтоб по цвету отличались .
                            Для закупки еды надо срочно 3000 гр.
                        </p>
                        <p class="cell__box-text">
                            Люди огромная просьба , окажите посильную помощь , не игнорируйте КРИК ОТЧАЯНЬЯ !!!
                        </p>
                        <p class="cell__box-text">
                            Посмотрите на фото какие красавцы , да они не породистые , но они в приюте получили все необходимое
                            и
                            я надеюсь будут получать дальше ибо как бы мы не утопали в долгах и проблемах мы не допустим ужасов
                            и
                            сцен обречённости приютовских животных .
                        </p>
                        <p class="cell__box-text">
                            Нет, не для того мы их спасли , поэтому стучусь во все двери ЩЕНКАМ НУЖНА ПОМОЩЬ !!!
                        </p>
                    </div>
                </div>
            </div>
            <div class="cell__item">
                <p class="cell__data">12.04.2021</p>
                <div class="cell__images">
                    <img src="/images/useful/1.jpg" alt="">
                    <div class="cell__imgs">
                        <img src="/images/useful/grey-box-222.jpg" alt="">
                        <img src="/images/useful/grey-box-222.jpg" alt="">
                        <img src="/images/useful/grey-box-222.jpg" alt="">
                    </div>
                </div>
                <div class="cell__text-inner">
                    <h4 class="cell__title">
                        Крайне тяжёлая ситуация по еде щенков, ее просто нет....в приют заехало семь
                        щенков.
                    </h4>
                    <p class="cell__text">
                        Нужен корм для щенков (щенячка) или производитель клуб 4 лапы или Йозера.
                        Нужны консервы для собак , большие банки , любых производителей.
                        Нужна гречка и фарш для приготовления каши...
                    </p>
                    <div class="cell__box">
                        <p class="cell__box-text">
                            Нужен корм для щенков (щенячка) или производитель клуб 4 лапы или Йозера.
                            Нужны консервы для собак, большие банки, любых производителей.
                            Нужна гречка и фарш для приготовления каши
                            Нужен творог.
                            Дети сейчас в активном росте , им от 4-5 месяцев .
                            Едят очень хорошо , щенки крупные. Они заехали в новый вольер с платной передержки , где прошли
                            полную
                            вакцинацию и карантин.
                            Мы не заводили и не брали этих щенков , нам их одбросили « добрые люди», вот теперь несём
                            ответственность по полной программе , трое уже нашли дом, остальным нужна фотосессия и палатная
                            реклама на олх.
                            Помогите пожалуйста деткам, столько уже вложено в них сил и любви, так хочется чтоб все все все они
                            написали на наших страничках свои счастливые истории, очень нужны ещё три ошейника для щенков
                            мальчиков и три для щенков девочек , чтоб по цвету отличались .
                            Для закупки еды надо срочно 3000 гр.
                        </p>
                        <p class="cell__box-text">
                            Люди огромная просьба , окажите посильную помощь , не игнорируйте КРИК ОТЧАЯНЬЯ !!!
                        </p>
                        <p class="cell__box-text">
                            Посмотрите на фото какие красавцы , да они не породистые , но они в приюте получили все необходимое
                            и
                            я надеюсь будут получать дальше ибо как бы мы не утопали в долгах и проблемах мы не допустим ужасов
                            и
                            сцен обречённости приютовских животных .
                        </p>
                        <p class="cell__box-text">
                            Нет, не для того мы их спасли , поэтому стучусь во все двери ЩЕНКАМ НУЖНА ПОМОЩЬ !!!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

