@model IQueryable<PetFileAttachmentListItemViewModel>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add().Titled("Image/File").Encoded(false).RenderedAs(model => new HtmlString(model.IsImage ? $"<img src=\"{model.PreviewUrl}\" />" : $"<a href=\"{model.OriginalUrl}\">File</a>"));
        columns.Add().Titled("Name").Encoded(false).RenderedAs(model => model.Name);
        columns.Add().Titled("Is cover image").Encoded(false).RenderedAs(model => new HtmlString(model.IsImage ? model.IsCover ? $"Cover image" : $"<a href=\"#\">Make this image cover</a>" : ""));
    })
    .Empty("No data found")
    .Pageable()
)