@model IQueryable<PetPostListItemViewModel>


@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add().Titled("Новость").Encoded(false).RenderedAs(model => new HtmlString(model.Body));
        columns.Add().Titled("Дата").Encoded(false).RenderedAs(model => model.CreatedAt.ToShortDateString());
        columns.Add().Titled("").Encoded(false).RenderedAs(model => new HtmlString($"<a class=\"btn btn-primary\" href=\"" + Url.Action("Edit", "Articles", new { id = model.Id, Area = "Admin" }) + "\">Редактировать</a>"));
    })
    .Empty("No data found")
    .Pageable()
)