@model IQueryable<PetFileAttachmentListItemViewModel>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add().Titled("Фото").Encoded(false).RenderedAs(model => new HtmlString(model.IsImage ? $"<img src=\"{model.PreviewUrl}\" />" : $"<a href=\"{model.OriginalUrl}\">File</a>"));
        columns.Add().Titled("Название файла").Encoded(false).RenderedAs(model => model.Name);
        columns.Add().Titled("").Encoded(false).RenderedAs(model => new HtmlString(
            (model.IsImage ? 
                    model.IsCover ? $"Обложка" : $"<a href=\"javascript:0\" class=\"btn btn-primary\" onclick=\"setCoverImage({ViewData["PetId"]}, {model.Id})\" >Сделать обложкой</a>" 
                    : "") + $"<a href=\"javascript:0\" class=\"btn btn-danger ml-3\" onclick=\"deleteImage({model.Id})\" >Удалить</a>"));
    })
    .Empty("No data found")
    .Pageable()
)

<script>
    function setCoverImage(petId, imageId) {
        $.post('@Url.Action("UpdateCoverImage", "Animal", new { area = "Admin" })?petId=' + petId + '&petFileAttachmentId=' + imageId, function () {
            updateFileAttachments();
        })
    }

    function deleteImage(imageId) {
        if (confirm("Вы действительно хотите удалить этот файл?")) {
            $.post('@Url.Action("DeletePetFileAttachment", "Animal", new { area = "Admin" })?id=' + imageId, function () {
                updateFileAttachments();
            })
        }
    }
</script>