@model PetViewModel

@{
    ViewBag.Title = "Create Pet";
}

<h3>@ViewBag.Title</h3>

<form asp-action="Create" asp-controller="Pets" asp-area="Admin">
    <partial name="_Item" model="Model">
</form>