@model IQueryable<PetListItemViewModel>

<div class="mb-5">
    <a href="@Url.Action("Create", "Pets", new { Area = "Admin" })" class="btn btn-primary">Создать</a>
</div>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add().Titled("Кличка").Encoded(false).RenderedAs(model => new HtmlString($"<a href=\"" + Url.Action("Edit", "Pets", new { id = model.Id, Area = "Admin" }) + "\">" + model.Name + "</a>"));
        columns.Add().Titled("Тип").Encoded(false)
        .RenderedAs(model =>
        {

            var type = model.Options.FirstOrDefault(x => x.Type == EOptionType.PetType)?.Value;
            var subType = model.Options.FirstOrDefault(x => x.Type == EOptionType.PetSubType)?.Value;

            if (type != null && subType != null)
            {
                return $"{type} ({subType})";
            }
            else
            {
                return type + subType;
            }
        });
    })
    .Empty("No data found")
    .Pageable()
)